body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #f4f4f4;
}
.controle{
    margin: 20px auto;
    width: 300px;

}
input[type="range"]{
    width: 100%;
}
#cor{
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border: 2px solid #000;
    background: rgb(0,0,0);
}
#codigo{
    font-size: 22px;
    font-weight: bold;
}