#box4{
    border: 4px solid gainsboro;
    width: 100%;
    height: 150px;
    background-color: rgb(14, 56, 172);
    text-align: center;
    font-size: 35px;
}
#box5{
    border: 3px solid gainsboro;
    width: 100%;
    height: 40px;
    background-color: rgb(5, 18, 129);
    text-align: center;
    font-size: 35px;
}
#box6{
    border: 4px solid gainsboro;
    width: 100%;
    height: 200px;
    background-color: blue;
    text-align: center;
    font-size: 35px;
}
#box7{
    border: 5px solid gainsboro;
    width: 100%;
    height: 150px;
    background-color: rgb(120, 178, 233);
    text-align: center;
    font-size: 35px;
}
body{
    background-color: black;
}
div{
    color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
#texto1{
    border: 4px solid gainsboro;
    width: 100%;
    height: 200px;
    background-color: rgb(1, 1, 51);
    text-align: center;
    font-size: 35px;
}
#texto2{
    border: 4px solid gainsboro;
    width: 100%;
    height: 200px;
    background-color: rgb(0, 166, 255);
    text-align: center;
    font-size: 35px;
}
footer{
    border: 4px solid gainsboro;
    width: 100%;
    height: 200px;
    background-color: rgb(4, 73, 129);
    text-align: center;
    font-size: 35px;
}

