<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uso do div</title>
    <link rel="stylesheet" href="style/style1.css">
</head>
<body>
    <div id="box4"> header</div>
    <div id="box5">nav</div>
    <div id="box6"> texto1</div>
    <div id="box7">texto2</div>

    <div id="container">
        <header></header>
        <nav></nav>
        <main>
            <div id="texto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo iste repellat ratione quod. Reprehenderit nostrum doloribus ratione modi, sint beatae. Fugiat hic commodi, reiciendis maxime sequi perspiciatis? Magni fuga ducimus odit eaque. Repellendus temporibus id sunt recusandae labore perferendis molestias?</div>
            <div id="texto2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium explicabo nostrum amet, quis illum dignissimos consectetur sapiente voluptatum eaque placeat officiis laborum sit accusamus eum, nihil sint aspernatur dolor, impedit libero repellendus expedita obcaecati! Ullam.</div>
        </main>
        <footer>A++</footer>
    </div>
    
</body>
</html>