* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* body {
    
} */

header {
    width: 100%;
    height: 100px;
    /* border: 3px solid black; */
    border: 3px solid #5099ba;
}

nav {
    width: 100%;
    height: 50px;
    border: 3px solid red;
    /* overflow: scroll; */
    /* background-color: #333; */
}

main {
    width: 100%;
    height: 350px;
    border: 3px solid black;
    /* overflow: scroll; */
}

footer {
    width: 100%;
    height: 30px;
    border: 3px solid rgb(0, 0, 255);
    font-size: 75%;
    text-align: center;
    background-color: white;
}

#container{
    width: 1000px;
    /* background-color: lightgreen; */
    font-size: 20pt;
}

.col1{
    width: 50%;
    border: 1px solid black;
    height: 100%;
    background-color: gray;
    overflow: scroll;
    float:left;
    text-align: justify;
    
    /* padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px; */

    /* padding: 10px 30px 15px 20px;  */
    padding: 20px; /* padding: 20px 20px 20px 20px; */
    
}

.col2{
    width: 50%;
    border: 1px solid black;
    height: 100%;
    background-color: orange;
    float:left;
    overflow: scroll;
}

.box{
    width: 50px;
    height: 50px;
    border: 5px double white;
    background-color: black;
    clear:left;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding-top: 5px;
    
}

.boxAbs{
    position: relative;
    bottom: 30px;
    /* left: 100px;  */
    /* top: 50px; */
    /* right: 50px; */
    
}

span.destaque{
    background-color: lightpink;
    padding: 8px;
    border-radius: 25px;

}

p.info{
    float: left;
    padding: 18px;
    border: 1px solid black;
}


/* Tratamento de Links */

footer a:link{
    color: green;
    text-decoration: none;
}

footer a:visited{
    color: red;
    text-decoration: none;
}

footer a:hover{
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
    background-color: yellow;
    text-decoration: none;
}

/* MENU */

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    /* color: white; */
}

nav li {
    float: left;
}

nav li a {
    display: block;
    /* border: 1px solid black;
    width: 200px;
    height: 100px;
    margin-right: 20px;
    text-align: center;
    border-radius: 20px; */
    /* color: white; */
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
}

nav li a:visited{
    color: white;
}

nav li a:hover {
    background-color: green;
} 







